<h1>Mes cases :</h1>
<ul>
  <% @sites.each do |site| %>
    <li><%= link_to site.name, site_path(site) %></li>
  <% end %>
</ul>
<%= link_to "Retour à l'Accueil", root_path %>
<%= link_to "Ajouter une nouvelle case", new_site_path(@site) %>
